html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 850px;
  margin: auto;
  flex: 1;  /* Make sure this element can grow */
}

.left-side, .right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #3897f0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #287acc;
}

.login-btn {
  background-color: #3897f0;
}

.instagram-login {
  background-color: #db4437;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider::before {
  margin-right: .25em;
}

.divider::after {
  margin-left: .25em;
}

.signup-link {
  margin-top: 20px;
}

.signup-link a {
  color: #3897f0;
  text-decoration: none;
  font-weight: bold;
}

.app-links {
  margin-top: 20px;
}

.app-store {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.app-store img {
  max-width: 100%;
  height: auto;
  margin: 5px;
}

.right-side img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

footer {
  background-color: #fafafa;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #dbdbdb;
}

.footer-content a {
  margin: 0 10px;
  text-decoration: none;
  color: #00376b;
  font-size: 12px;
}

.footer-language select {
  margin-top: 10px;
  padding: 5px;
  font-size: 12px;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-copyright {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}
